.advantages {
  text-align: center;
}

.advantages__header {
  font-weight: 300;
  font-size: 24px;
  color: $secondary-color;
}

.advantages__inner {
  background-color: $white;
  padding: 0 20px;
}
