html,
body {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.2;
  color: $text-color;
  font-family: $font-family;
}

img {
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
  display: inline-block;
  vertical-align: middle;
}

a {
  font: inherit;
  color: $primary-color;
  text-decoration: none;
  &:hover {
    color: $secondary-color;
    text-decoration: underline;
  }
  &:active {
    color: $secondary-color;
    text-decoration: none;
    opacity: 0.3;
  }
}
