.contacts {
  text-align: center;
  padding-bottom: 30px;
}

.contacts__title {
  font-size: 24px;
  font-weight: 300;
}

.contacts__header {
  font-size: 18px;
  font-weight: bold;
}

.contacts__text {
  font-size: 24px;
  font-weight: 300;
  color: $primary-color;
}
