.main-nav {
  position: relative;
  background-color: rgba(0,0,0,0.3);
  z-index: 10;
}

.main-nav__wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 23px 20px;
  margin: 0 auto;
}

.main-nav__toggle {
  border: 0;
  font-size: 0;
  background-color: transparent;
  &::before {
    content: '';
    display: block;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 25px;
    padding: 15px;
    font-size: 0;
    background: transparent url('../img/icon-menu-burger.svg') no-repeat 0 0;
    user-select: none;
  }
  &:focus {
    outline: 0;
  }
}

.main-nav--closed {
  .main-nav__list {
    display: none;
  }
}

.main-nav--opened {
  background-color: $secondary-color;
  .main-nav__list {
    display: block;
  }
  .main-nav__toggle {
    &::before {
      width: 24px;
      height: 24px;
      background: transparent url('../img/icon-menu-cross.svg') no-repeat 0 0;
    }
  }
}

.main-nav--nojs {
  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    display: block;
  }
}

.main-nav__list {
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 32px;
  color: $white;
  list-style: none;
  text-align: center;
  text-transform: uppercase;
  z-index: 10;
}

.main-nav__item {
  padding: 16px 20px 14px 20px;
  background-color: $secondary-color;
  border-top: 1px solid #485461;
  border-bottom: 1px solid #000000;
  text-decoration: none;

  &:first-child {
    box-shadow: 0 -1px 0 #000000;
  }
}

.main-nav__link {
  color: $white;
  font-weight: bold;
}
