.page-footer {
  text-align: center;
}

.page-footer__logo {
  padding: 40px 0;
}

.page-footer__map {
  position: relative;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/bg-triangle-white-footer.svg");
    background-repeat: no-repeat;
    background-size: 100%;
  }
}

.page-footer__social {
  margin-bottom: 40px;
}
