.popup-success {
  position: absolute;
  top: -382px;
  left: 0;
  z-index: 30;
  width: 320px;
  padding: 42px 20px 0 20px;
  box-sizing: border-box;
  text-align: center;
  background-color: $white;
  box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
}

.popup-success--closed {
  display: none;
}

.popup-success--show {
  display: block;
}

.popup-success__title {
  font-size: 18px;
  line-height: 24px;
  color: $black;
}

.popup-success__description {
  margin: 0;
  padding: 25px 5px 30px 5px;
  font-size: 14px;
  line-height: 24px;
  color: $gray;
}

.popup-success__btn-container {
  background-color: $gray;
  margin: 0 -20px;
  padding: 48px 20px 53px 20px;
}

.popup-success__btn {
  padding: 17px 66px 16px 66px;
  outline: none;
  border: none;
  font-size: 18px;
  line-height: 30px;
  color: $white;
  font-weight: bold;
  text-transform: uppercase;
  background-color: $green;
  border-radius: 1px;
  cursor: pointer;

  &:hover {
    background-color: #1c9b5e;
  }

  &:active {
    background-color: #1c9b5e;
    color: rgba(255, 255, 255, 0.3);
  }

  &:disabled {
    background-color: $table-color-tr;
    color: $white;
  }
}

@media (min-width: 660px) {
  .popup-success {
    left: 100px;
    width: 460px;
    padding: 42px 70px 0 70px;
  }

  .popup-success__title {
    font-size: 30px;
    line-height: 40px;
    color: $black;
    font-weight: bold;
  }

  .popup-success__description {
    font-size: 18px;
    line-height: 24px;
    color: $gray;
  }

  .popup-success__btn-container {
    margin: 0 -70px;
    padding: 48px 80px 53px 80px;
  }

  .popup-success__btn {
    padding: 17px 76px 16px 76px;
  }
}

@media (min-width: 960px) {
  .popup-success {
    left: 90px;
    width: 780px;
    padding: 42px 160px 0 160px;
  }

  .popup-success__btn-container {
    margin: 0 -160px;
    padding: 48px 160px 53px 160px;
  }

  .popup-success__btn {
    padding: 17px 156px 16px 156px;
  }
}



.popup-failure {
  display: block;
  position: absolute;
  top: -320px;
  left: 0;
  z-index: 30;
  width: 320px;
  padding: 42px 20px 53px 20px;
  box-sizing: border-box;
  text-align: center;
  background-color: $white;
  box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
}

.popup-failure--closed {
  display: none;
}

.popup-failure--show {
  display: block;
}

.popup-failure__title {
  font-size: 18px;
  line-height: 24px;
  color: $black;
  font-weight: bold;
}

.popup-failure__description {
  margin: 0;
  padding: 25px 0 40px 0;
  font-size: 14px;
  line-height: 24px;
  color: $gray;
}

.popup-failure__btn {
  width: 100%;
  padding: 17px 66px 16px 66px;
  outline: none;
  border: none;
  font-size: 18px;
  line-height: 30px;
  color: $white;
  font-weight: bold;
  text-transform: uppercase;
  background-color: $green;
  border-radius: 1px;
  cursor: pointer;

  &:hover {
    background-color: #1c9b5e;
  }

  &:active {
    background-color: #1c9b5e;
    color: rgba(255, 255, 255, 0.3);
  }

  &:disabled {
    background-color: $table-color-tr;
    color: $white;
  }
}

@media (min-width: 660px) {
  .popup-failure {
    left: 100px;
    width: 460px;
    padding: 42px 80px 53px 80px;
  }

  .popup-failure__title {
    font-size: 18px;
    line-height: 30px;
    color: $black;
  }

  .popup-failure__description {
    font-size: 18px;
    line-height: 24px;
    color: $gray;
  }
}

@media (min-width: 960px) {
  .popup-failure {
    left: 250px;
  }
}


.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  display: none;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.popup-overlay--show {
  display: block;
}
