.promo {
  display: flex;
  flex-direction: column;
  margin-top: -65px;
  background-image: url(../img/bg-back-mobile@1x.jpg);
  background-position: top center;
  background-repeat: no-repeat;
}

.promo__wrap {
  padding: 0 20px;
  text-align: center;
  &--bg {
    background-color: $wrap-color;
  }
  &--picture {
    background-image: url(../img/iphone-hand-mobile@1x.png);
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 258px 286px;
    min-height: 462px;
  }
  &:last-child {
    padding-top: 25px;
  }
}

.promo__text {
  margin: 90px auto 65px auto;
  padding: 0 20px;
  color: $white;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
}
