.promo-list {
  margin-top: 36px;
  text-align: center;
}

.promo-list__link {
  font-size: 0;
  display: inline-block;
  vertical-align: middle;
  margin: 0 16px;
}

.promo-list__apple {
  margin-top: -2px;
  width: 47px;
  height: 57px;
  background: url('../img/logo-apple.svg') no-repeat 0 0;
  text-align: left;
}

.promo-list__google {
  width: 43px;
  height: 48px;
  background: url('../img/logo-android.svg') no-repeat 0 0;
}

.promo-list__ms {
  width: 44px;
  height: 42px;
  background: url('../img//logo-microsoft.svg') no-repeat 0 0;
}

.promo-list__description {
  margin-top: 20px;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  color: $white;
}
