.review {
  text-align: center;
  padding: 20px;
}

.review__author {
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  color: $black;
}

.review__text {
  font-size: 14px;
  line-height: 30px;
}

.review__item {

}
