// Colors
$primary-color: #d22856;
$secondary-color: #283645;
$text-color: $secondary-color;
$white: #ffffff;
$black: #000000;
$gray: #f2f2f2;
$table-color-tr: #e5e5e5;
$green: #2aab6d;

$wrap-color: #1d2631;

// Font family
$font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
