// Шрифты
$open: "opensans", "Arial", sans-serif;
$open-b: "opensansbold", "Arial", sans-serif;
$open-l: "opensanslight", "Arial", sans-serif;

// Для сетки
$outline: 1px solid black;

// Цвета фона
$bg-header: #1d2631;
$bg-nav: #283645;
$bg-gray: #f2f2f2;
$bg-white: #ffffff;
$bg-pink: #d22856;
$bg-btn: #2aab6d;
$table-b: #e5e5e5;

// Цвета текста
$text-white: #ffffff;
$text-black: #202020;
$text-gray: #283645;
$text-pink: #d22856;
