.download {
  position: relative;
  @media (min-width: 660px) {
    top: 112px;
  }
}

.download__wrapper {
  width: auto;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  background-image: url("../img/iphone-hand-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: bottom 0 left 0;
  min-height: 466px;
  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/iphone-hand-mobile@2x.png");
    background-size: 258px auto;
  }
  @media (min-width: 660px) {
    width: 94%;
    padding-left: 0;
    padding-right: 0;
    max-width: 960px;
    margin: 0 auto;
    min-height: 618px;
    background-position: bottom right;
    background-image: url("../img/iphone-hand-tablet@1x.png");
    background-position: bottom 0 right -39px;
    background-size: 700px auto;
    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/iphone-hand-tablet@2x.png");
      background-size: 700px auto;
    }
  }
  @media (min-width: 960px) {
    width: 960px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0;
    min-height: 759px;
    background-image: url("../img/iphone-hand-desktop@1x.png");
    background-position: bottom 0 right -115px;
    background-size: 1050px auto;
    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/iphone-hand-desktop@2x.png");
      background-size: 1050px auto;
    }
  }
}

.download__inner {
  top: 480px;
  left: 0;
  right: 0;
  padding-left: 7%;
  padding-right: 7%;
  padding-top: 6px;
  position: absolute;
  z-index: 15;
  @media (min-width: 660px) {
      top: 0;
      padding: 0;
      margin: 0;
      position: relative;
      margin-right: 52%;
      background-color: transparent;
      //		margin-left: 2.2%;
      padding-top: 110px;
  }
  @media (min-width: 960px) {
      margin-right: 68%;
  }
}

.download__slogan {
  display: none;
  margin: 0;
  padding: 0 40px 28px 40px;
  @include text($open-l, 40px, 50px, $text-white);
  text-align: center;
}

.download__main-btn {
  display: block;
  margin-bottom: 32px;
  padding: 15px 35px 17px 35px;
  color: $text-white;
  white-space: nowrap;
  text-decoration: none;
  border: 3px solid $bg-white;
  text-align: center;

  &:hover {
    color: $text-pink;
    background-color: $bg-white;
    box-shadow: 0 5px 7px rgba(1, 1, 1, 0.75);
  }

  &:active {
    color: rgba(210, 40, 86, 0.3);
    background-color: $bg-white;
    box-shadow: none;
  }
}

.download__btns {
  display: flex;
  justify-content: center;
  align-items: center;
}

.download__btn {
  display: block;
  font-size: 0;
  padding: 0 17px;
  background-position-x: 50%;

  &--iphone {
    width: 47px;
    height: 64px;
    background-image: url("../img/logo-apple.svg");
    background-repeat: no-repeat;
  }

  &--android {
    width: 43px;
    height: 47px;
    background-image: url("../img/logo-android.svg");
    background-repeat: no-repeat;
  }

  &--win {
    width: 44px;
    height: 41px;
    background-image: url("../img/logo-microsoft.svg");
    background-repeat: no-repeat;
  }
}

.download__description {
  @include text($open-l, 14px, 24px, $text-white);
  text-align: center;
}

@media (min-width: 660px) {
  .download__slogan {
    display: block;
    padding-bottom: 27px;
  }

  .download__main-btn {
    display: block;
    margin-bottom: 43px;
    padding: 15px 42px 18px 46px;
  }

  .download__description {
    @include text($open-l, 18px, 24px, $text-white);
    margin: 0 -2px;
    padding-top: 30px;
  }
}

@media (min-width: 960px) {
  .download__slogan {
    padding: 0 0 54px 0;
    @include text($open-l, 50px, 60px, $text-white);
  }

  .download__main-btn {
    margin-bottom: 65px;
    padding: 15px 31px 18px 30px;
    @include text($open-b, 21px, 18px, $text-white);
  }

  .download__description {
    @include text($open-l, 18px, 24px, $text-white);
    margin: 0 -5px;
    padding-top: 48px;
  }
}
