.page-title {
  max-width: 280px;
  margin: 0 auto;
  padding: 99px 20px 0 20px;
  @include text($open-l, 24px, 30px, $text-white);
  text-align: center;
}

br {
  display: none;
}

@media (min-width: 660px) {
  .page-title {
    max-width: 620px;
    padding: 179px 20px 0 20px;
    @include text($open-l, 50px, 60px, $text-white);
  }
}

@media (min-width: 960px) {
  .page-title {
    max-width: 960px;
    padding: 174px 20px 0 20px;
    @include text($open-l, 50px, 60px, $text-white);
  }

  br {
    display: block;
  }
}
