.page-header {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-color: $bg-header;
  background-size: cover;
  margin-top: -70px;

  &--index {
    min-height: 736px;
    background-size: 100% 466px;
  }

  &--other {
    min-height: 241px;
    margin-top: -71px;
  }
  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
  }
  @media (min-width: 660px) {
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-color: $bg-header;
    background-size: cover;
    margin-top: -112px;

    &--index {
      min-height: auto;
      height: 730px;
    }

    &--other {
    min-height: 439px;
    margin-top: -110px;
    }
    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
    }
  }
  @media (min-width: 960px) {
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-color: $bg-header;
    background-size: cover;
    margin-top: -110px;

    &--index {
      height: 853px;
    }

    &--other {
      min-height: 394px;
      margin-top: -110px;
    }
    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
    }
  }
}
