.photo {
  position: relative;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 280px;
}

.photo__about {
  padding: 46px 12px 48px 12px;
  @include text($open, 14px, 30px, $text-gray);
  text-align: center;
}

.photo__panorama {
  position: absolute;
  top: 185px;
  right: 20px;
  padding: 5px 21px 6px 21px;
  @include text($open-b, 12px, 24px, $text-white);
  text-transform: uppercase;
  background-color: $bg-pink;
}

@media (min-width: 660px) {
  .photo {
    max-width: 620px;
  }

  .photo__about {
    padding: 93px 50px 75px 50px;
    @include text($open, 18px, 30px, $text-gray);
  }

  .photo__panorama {
    top: 285px;
    right: 18px;
  }
}

@media (min-width: 960px) {
  .photo {
    max-width: 940px;
    padding: 0 10px;
  }

  .photo__about {
    padding: 93px 180px 87px 180px;
  }

  .photo__panorama {
    top: 293px;
    right: 10px;
  }
}
